*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-0: 1.23rem;
  --font-1: 3.6rem;
  --font-2: 0.8375rem;

  --clr-nav-links: rgb(62, 110, 214);
  --clr-nav-bg: rgb(202, 163, 53);
  --clr-nav-btn-bg: rgb(100, 100, 66);
  --clr-btn-text: rgb(36, 133, 76);
  --clr-locker-bg: #DDDDDD;
  --clr-subheader-text: #6E6E6E;
  --clr-button-text: #fff;
  --clr-nav-button: rgb(197, 202, 165);
}


.nav, nav ul {
  display: flex;
  font-weight: bold;
  background: var(--clr-nav-bg);
}

img {

  height: 100%;
}

nav > * {
  justify-content: space-around;

  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul{
 margin: 20px 50px;
 /*  max-width: 100%;
  width: 100%;*/
}

.margin-class{
   /* margin-left: 200px;*/
}

li {
  list-style-type: none;
  padding: 0 20px;
  font-size: var(--font-0);

}



.nav-btn{
  margin-top: -15px;
  border: 1px solid transparent;
  background: var(--clr-nav-btn-bg);
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: var(--clr-nav-button);
}

/* TEXT FIELD*/

.img-background{
  background-size: cover;
  background: url("./images/image-bg.jpg") no-repeat;
  background-position-y: -150px;
  position: relative;
  width: 100%;
  height: 550px;
}

.img-bg-child{
position: relative;
  top: 30%;
  left: 40px;
}

.img-bg-child h1{

  font-size: var(--font-1)
}

/*INPUT DIV*/

.input{
  width: 80%;

}
.input-div{
  width: 48%;
  height: 100px;
  background: var(--clr-button-text);
/*  border: 1px solid red;*/
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.input-div img{
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;

}

/* SORTING DIV*/
.locker-sort{
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-locker-bg);

}

.locker-sort > *{
  font-size: var(--font-0);
  font-weight: bold;
  color: var(--clr-subheader-text);
  margin: 20px;

}

.order-sort{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-sort :nth-child(1), .order-sort :nth-child(2){
  margin-right: 20px;
}
/* MAIN LOCKER*/

.main-locker{
  display: flex;
}