*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-0: 1.5rem;
  --font-1: 1.2rem;
  --font-2: 0.8375rem;

  --clr-nav-links: rgb(62, 110, 214);
  --clr-nav-bg: rgb(202, 163, 53);
  --clr-nav-btn-bg: rgb(100, 100, 66);
  --clr-btn-text: rgb(36, 133, 76);
  --clr-locker-bg: rgb(185, 185, 185);
  --clr-subheader-text: gray;
  --clr-button-text: #fff;
  --clr-nav-button: rgb(197, 202, 165);
}


nav, nav ul {
  display: flex;

  border: 1px solid;

}

nav {
  margin: 20px 10vw;
  max-width: 90%;
  width: 80%;
}

li {
  list-style-type: none;
}